# Configuration for running the bot on a server as a systemd service
[Unit]
Description=Telegram Bot daemon
After=network.target

[Service]
User=tgbot
Group=tgbot
Type=simple
WorkingDirectory=/opt/tgelegram_bot
ExecStart=/opt/tgelegram_bot/venv/bin/python /opt/tgelegram_bot/bot.py
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
