This is a template for a telegram bot written in Python using the <b><a href="{{ framework_url }}">python-telegram-bot</a></b> framework

The source code of the template is offered under the <b><a href="{{ licence_url }}">MIT license</a></b> and is located in the repository on <b><a href="{{ github_repo_url }}">GitHub</a></b>

Template author - <b><a href="{{ author_profile_url }}">Ringil</a></b>
Contact the author: <b>{{ author_email }}</b>